.score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 36px;
}

/* Styles the elements inside score container */
.score-container > #correct-icon,
.score-container > .score,
.score-container > #incorrect-icon,
.score-container > .win-message {
  width: 150px;

  padding: 10px 20px;
  margin: 5px;

  text-align: center;
}

/* Color for correct icon */
.score-container .correct-icon {
  color: rgb(11, 102, 11);
}

/* Color for incorrect icon */
.score-container .incorrect-icon {
  color: red;
}

.score-container .win-message {
  text-align: center;
}

.score-container .hidden {
  display: none;
}
