/* Styles the card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: auto;

  border: 4px solid black;
  border-radius: 15px;
  overflow: hidden;

  padding: 5px;
  margin: 15px;
}

/* Styles the card text */
.card > .food-name {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
}

/* Styles the card image */
.card > img {
  width: 100%;
  height: 100%;

  border-radius: 15px;

  object-fit: cover;
}

/* Animates card to grow on hover. */
.card:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

/* Animates card back to original size. */
.card {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

/* Stylings for mobile screen */
@media screen and (max-width: 600px) {
  /* Smaller card */
  .card {
    width: 100px;
    margin: 5px;
  }

  .card > .food-name {
    font-size: 1r.2em;
  }
}
